/////////{//general variables
:root {
  --clr-light: #eaf6f6;
  --clr-primary: #66bfbf;
  // --clr-acsent: #ff7063;
  --clr-acsent: #ff0063;
  --clr-fff: #fff;
  --clr-dark: #555;
  --br-10: 10px;
  --clr-grey-100: #f7f7f7;
  --clr-grey-200: #efefef;
  --clr-grey-300: #e0e0e0;
  --clr-positve: #2abf77;
  --clr-negative: #ff1744;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  --neumorphism: -3px -3px 7px #fff, 3px 3px 5px rgba(0, 0, 0, 0.3);
  --neumorphism-inset: inset -3px -3px 7px #fff,
    inset 3px 3px 7px rgba(0, 0, 0, 0.3);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin-bottom: 2rem;
  color: var(--clr-negative);
  padding: 1rem;
  border-radius: var(--br-10);
  box-shadow: var(--neumorphism-inset);
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-grey-300);
  // overflow: hidden;
  @media (max-width: 300px) {
    .counter-container {
      padding: 2rem 1rem;
    }
  }
}

.counter-container {
  position: relative;
  min-width: 250px;
  width: 500px;
  min-height: 600px;
  padding: 0 2rem;
  border-radius: var(--br-10);
  background-color: var(--clr-grey-300);
  // box-shadow: var(--neumorphism-inset);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
}

////////////////General button styles
.btn {
  // width: 200px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: var(--br-10);
  background-color: var(--clr-grey-300);
  box-shadow: var(--neumorphism-inset);
  color: var(--clr-dark);
  font-weight: bold;
  font-size: 1.2rem;
  &:active,
  &:hover {
    box-shadow: var(--neumorphism);
  }
}

/////////////////Text input for item name
.item-name-wrapper {
  width: 100%;
  // background-color: var(--clr-acsent);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  ::placeholder {
    color: var(--clr-dark);
  }

  .item-name {
    width: 250px;
    padding: 1rem 2rem;
    border-radius: var(--br-10);
    color: var(--clr-dark);
    background-color: var(--clr-grey-300);
    box-shadow: var(--neumorphism-inset);
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
  }
}

//////////////Plus and Minus increment button

.increment-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;

  .btn {
    padding: 0px;
    width: 90px;
    height: 90px;
    font-size: 2rem;
    border-radius: 50%;

    &:active,
    &:hover {
      transform: scale(1.125);
      color: var(--clr-positve);
    }
  }

  .increment {
    &:active,
    &:hover {
      color: var(--clr-positve);
    }
  }
  .decrement {
    &:active,
    &:hover {
      color: var(--clr-negative);
    }
  }
}
/////////////Save count button styles
.save-count {
  background-color: transparent;
  color: var(--clr-dark);
  border: none;
  transition: box-shadow 0.5s;
  &:hover {
    color: var(--clr-positve);
  }
}
/////////////////count Element style rule
.count-element {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--clr-grey-300);
  border-radius: var(--br-10);
  box-shadow: var(--neumorphism);
  color: var(--clr-dark);
  padding: 0.5rem 2rem;
  margin: 1rem 0 2rem;
}

///////////////Entry log  style rule
.entry-log {
  box-shadow: var(--neumorphism-inset);
  border-radius: var(--br-10);
  color: var(--clr-dark);
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.increment-active {
  color: var(--clr-positve);
  animation: pulse 0.3s ease-in-out;
}

.decrement-active {
  color: var(--clr-negative);
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

///////////////style rules for the Checker Popup container

.checker-container {
  width: 100%;
  height: 0;
  background-color: var(--clr-fff);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: var(--br-10);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  z-index: -1;

  .checker-btn {
    width: 125px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    box-shadow: var(--neumorphism-inset);
    border-radius: var(--br-10);
    transition: box-shadow 0.9s ease-in-out;

    &:active,
    &:hover {
      box-shadow: var(--neumorphism);
    }
  }

  .checker-confirm {
    color: var(--clr-positve);
    // border: 2px solid var(--clr-positve);
  }
  .checker-cancel {
    color: var(--clr-negative);
    // border: 2px solid var(--clr-negative);
  }
}

.checker-active {
  background-color: var(--clr-grey-300);
  opacity: 1;
  bottom: 0%;
  height: 70%;
  pointer-events: auto;
  z-index: 1000;
  pointer-events: auto;
}

//////////////Result container style rule
.result-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: var(--br-10);
  background-color: var(--clr-grey-300);
  // display: none;

  .exit-result {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.6rem;
  }

  .title {
    margin-top: 3rem;
  }

  .download-btn {
    &:hover {
      color: var(--clr-positve);
    }
  }

  .text-area {
    resize: none;
    width: 100%;
    min-height: 300px;
    background-color: transparent;
    border-radius: var(--br-10);
    border: 2px solid var(--clr-positve);
    margin-bottom: 2rem;
    color: var(--clr-dark);
    font-weight: bold;
    font-size: 1.3rem;
    outline: none;
  }
}

//////////////////general media query for the counter app
