:root {
  --clr-light: #eaf6f6;
  --clr-primary: #66bfbf;
  --clr-acsent: #ff0063;
  --clr-fff: #fff;
  --clr-dark: #555;
  --br-10: 10px;
  --clr-grey-100: #f7f7f7;
  --clr-grey-200: #efefef;
  --clr-grey-300: #e0e0e0;
  --clr-positve: #2abf77;
  --clr-negative: #ff1744;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  --neumorphism: -3px -3px 7px #fff, 3px 3px 5px rgba(0, 0, 0, 0.3);
  --neumorphism-inset: inset -3px -3px 7px #fff,
    inset 3px 3px 7px rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  margin-bottom: 2rem;
  color: var(--clr-negative);
  padding: 1rem;
  border-radius: var(--br-10);
  -webkit-box-shadow: var(--neumorphism-inset);
          box-shadow: var(--neumorphism-inset);
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--clr-grey-300);
}

@media (max-width: 300px) {
  .container .counter-container {
    padding: 2rem 1rem;
  }
}

.counter-container {
  position: relative;
  min-width: 250px;
  width: 500px;
  min-height: 600px;
  padding: 0 2rem;
  border-radius: var(--br-10);
  background-color: var(--clr-grey-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: var(--br-10);
  background-color: var(--clr-grey-300);
  -webkit-box-shadow: var(--neumorphism-inset);
          box-shadow: var(--neumorphism-inset);
  color: var(--clr-dark);
  font-weight: bold;
  font-size: 1.2rem;
}

.btn:active, .btn:hover {
  -webkit-box-shadow: var(--neumorphism);
          box-shadow: var(--neumorphism);
}

.item-name-wrapper {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-name-wrapper ::-webkit-input-placeholder {
  color: var(--clr-dark);
}

.item-name-wrapper :-ms-input-placeholder {
  color: var(--clr-dark);
}

.item-name-wrapper ::-ms-input-placeholder {
  color: var(--clr-dark);
}

.item-name-wrapper ::placeholder {
  color: var(--clr-dark);
}

.item-name-wrapper .item-name {
  width: 250px;
  padding: 1rem 2rem;
  border-radius: var(--br-10);
  color: var(--clr-dark);
  background-color: var(--clr-grey-300);
  -webkit-box-shadow: var(--neumorphism-inset);
          box-shadow: var(--neumorphism-inset);
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  outline: none;
}

.increment-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.increment-btn-container .btn {
  padding: 0px;
  width: 90px;
  height: 90px;
  font-size: 2rem;
  border-radius: 50%;
}

.increment-btn-container .btn:active, .increment-btn-container .btn:hover {
  -webkit-transform: scale(1.125);
          transform: scale(1.125);
  color: var(--clr-positve);
}

.increment-btn-container .increment:active, .increment-btn-container .increment:hover {
  color: var(--clr-positve);
}

.increment-btn-container .decrement:active, .increment-btn-container .decrement:hover {
  color: var(--clr-negative);
}

.save-count {
  background-color: transparent;
  color: var(--clr-dark);
  border: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.save-count:hover {
  color: var(--clr-positve);
}

.count-element {
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--clr-grey-300);
  border-radius: var(--br-10);
  -webkit-box-shadow: var(--neumorphism);
          box-shadow: var(--neumorphism);
  color: var(--clr-dark);
  padding: 0.5rem 2rem;
  margin: 1rem 0 2rem;
}

.entry-log {
  -webkit-box-shadow: var(--neumorphism-inset);
          box-shadow: var(--neumorphism-inset);
  border-radius: var(--br-10);
  color: var(--clr-dark);
  padding: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.increment-active {
  color: var(--clr-positve);
  -webkit-animation: pulse 0.3s ease-in-out;
          animation: pulse 0.3s ease-in-out;
}

.decrement-active {
  color: var(--clr-negative);
  -webkit-animation: pulse 0.3s ease-in-out;
          animation: pulse 0.3s ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.checker-container {
  width: 100%;
  height: 0;
  background-color: var(--clr-fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  border-radius: var(--br-10);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: -1;
}

.checker-container .checker-btn {
  width: 125px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  -webkit-box-shadow: var(--neumorphism-inset);
          box-shadow: var(--neumorphism-inset);
  border-radius: var(--br-10);
  -webkit-transition: -webkit-box-shadow 0.9s ease-in-out;
  transition: -webkit-box-shadow 0.9s ease-in-out;
  transition: box-shadow 0.9s ease-in-out;
  transition: box-shadow 0.9s ease-in-out, -webkit-box-shadow 0.9s ease-in-out;
}

.checker-container .checker-btn:active, .checker-container .checker-btn:hover {
  -webkit-box-shadow: var(--neumorphism);
          box-shadow: var(--neumorphism);
}

.checker-container .checker-confirm {
  color: var(--clr-positve);
}

.checker-container .checker-cancel {
  color: var(--clr-negative);
}

.checker-active {
  background-color: var(--clr-grey-300);
  opacity: 1;
  bottom: 0%;
  height: 70%;
  pointer-events: auto;
  z-index: 1000;
  pointer-events: auto;
}

.result-container {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: var(--br-10);
  background-color: var(--clr-grey-300);
}

.result-container .exit-result {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.6rem;
}

.result-container .title {
  margin-top: 3rem;
}

.result-container .download-btn:hover {
  color: var(--clr-positve);
}

.result-container .text-area {
  resize: none;
  width: 100%;
  min-height: 300px;
  background-color: transparent;
  border-radius: var(--br-10);
  border: 2px solid var(--clr-positve);
  margin-bottom: 2rem;
  color: var(--clr-dark);
  font-weight: bold;
  font-size: 1.3rem;
  outline: none;
}
/*# sourceMappingURL=style.css.map */